git+https://github.com/ZettaAI/cloud-bot-workers.git#subdirectory=common
google-cloud-storage>=1.31.1
grpcio
google-cloud-firestore
cloud-volume
cloud-files
task-queue
slackclient
click
pika
six
pillow
joblib
h5py
supervisor